<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Escola</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="professor" class="nav-link">Professor</a>
      </li>
      <li class="nav-item">
        <a routerLink="curso" class="nav-link">Curso</a>
      </li>
      <li class="nav-item">
        <a routerLink="aluno" class="nav-link">Aluno</a>
      </li>
      <li class="nav-item">
        <a routerLink="turma" class="nav-link">Turma</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>