<div>
  <div class="panel panel-primary">
    <div class="panel-heading">Modificação de Turmas</div>
    <div class="panel-body">
      <div *ngIf="currentTurma.id">
        <div>
          <div class="form-group col-md-12">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" required [(ngModel)]="currentTurma.nome" name="nome" />
          </div>
          <div class="form-row">
            <div class="col col-md-3">
              <div class="form-group">
                <label for="cargahoraria">Carga Horária</label>
                <input class="form-control" id="cargahoraria" required [(ngModel)]="currentTurma.cargahoraria"
                  name="cargahoraria" />
              </div>
            </div>
            <div class="col col-md-3">
              <div class="form-group">
                <label for="cargahoraria">Nº Sala</label>
                <input class="form-control" id="numsala" required [(ngModel)]="currentTurma.numsala" name="numsala" />
              </div>
            </div>
            <div class="col col-md-3">
              <div class="form-group">
                <label class="control-label" for="datainicio">Data Início</label>
                <div class='input-group date' id='datainicioturma'>
                  <input type='text' class="form-control" id="datainicio" required [(ngModel)]="currentTurma.datainicio"
                    name="datainicio" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col col-md-3">
              <div class="form-group">
                <label class="control-label" for="datatermino">Data Término</label>
                <div class='input-group date' id='dataterminoturma'>
                  <input type='text' class="form-control" id="datatermino" required
                    [(ngModel)]="currentTurma.datatermino" name="datatermino" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col col-md-3">
              <div class="form-group">
                <label class="control-label" for="matriculaProfessor">Matrícula do Professor</label>
                <input type="text" class="form-control" id="matriculaProfessor"
                  [(ngModel)]="currentTurma?.professor?.matricula!">
              </div>
            </div>
            <div class="col col-md-9">
              <div class="form-group">
                <label class="control-label" for="nomeProfessor">Nome do Professor</label>
                <div class='input-group date' id='pesquisarpornome'>
                  <input type="text" class="form-control" placeholder="Pesquisar pelo nome do Professor"
                    id="nomeProfessor" [formControl]="professorNome" value="{{nomeProf}}"
                    [(ngModel)]="currentTurma?.professor?.nome!">
                  <span class="input-group-addon" (click)="importProfessores()">
                    <span class="glyphicon glyphicon-hand-right"></span>
                  </span>
                </div>
                <table class="table" *ngIf="lstProfessor.length > 0">
                  <tr>
                    <th>Nome</th>
                    <th>Disciplina</th>
                  </tr>
                  <tr *ngFor="let professor of lstProfessor" (click)="importSelProfessor(professor)"
                    class="import-item">
                    <td class="my-text-center">{{professor.nome}}</td>
                    <td class="my-text-center">{{professor.disciplina}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col col-md-3">
              <div class="form-group">
                <label class="control-label" for="idCurso">ID do Curso</label>
                <input type="text" class="form-control" id="idCurso" [(ngModel)]="currentTurma?.curso?.id!">
              </div>
            </div>
            <div class="col col-md-9">
              <div class="form-group">
                <label class="control-label" for="nomeCurso">Nome do Curso</label>
                <div class='input-group date' id='pesquisarpornome'>
                  <input type="text" class="form-control" placeholder="Pesquisar pelo nome do Curso" id="nomeCurso"
                    [formControl]="cursoNome" value="{{nomeCurso}}" [(ngModel)]="currentTurma?.curso?.nome!">
                  <span class="input-group-addon" (click)="importCursos()">
                    <span class="glyphicon glyphicon-hand-right"></span>
                  </span>
                </div>
                <table class="table" *ngIf="lstCurso.length > 0">
                  <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                  </tr>
                  <tr *ngFor="let curso of lstCurso" (click)="importSelCurso(curso)" class="import-item">
                    <td class="my-text-center">{{curso.nome}}</td>
                    <td class="my-text-center">{{curso.descricao}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <h4>{{ currentTurma?.alunos?.length }} alunos nesta turma</h4>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let turmaAluno of currentTurma?.alunos; let i = index"
              [class.active]="i == currentIndexAlunoTurma">
              <button class="m-3 btn btn-sm btn-danger" (click)="removerAluno(turmaAluno?.id)">
                Remover Aluno
              </button>
              {{ turmaAluno?.aluno?.nome }} - {{ turmaAluno?.aluno?.email }}
            </li>
          </ul>

          <div *ngIf="currentTurma?.alunos?.length == 0">
            Não há alunos cadastrados
          </div>
        </div>
        <button class="m-3 btn btn-sm btn-danger" (click)="deleteTurma()">
          Excluir
        </button>
        <button type="submit" class="m-3 btn btn-sm btn-warning" (click)="updateTurma()">
          Alterar
        </button>
        <a class="m-3 btn btn-sm btn-success" routerLink="/turmaaluno/{{ currentTurma.id }}">
          Incluir Alunos
        </a>
        <p>{{ message }}</p>
      </div>
      <div *ngIf="!currentTurma.id">
        <p>Turma não localizada...</p>
      </div>
    </div>
  </div>